/local/*
/.vscode
/.ssh
/.git
/.git/*
/node_modules
/.gitignore
/bot/config/AccessMaps.json
BotDevelopment.code-workspace
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
/.ebextensions/variables.config