/local
/node_modules/
/.vscode
/.ssh
/bot/config/AccessMaps.json
/.elasticbeanstalk
.ebignore
BotDevelopment.code-workspace
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml