files:
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/50npm.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash

      # stuff for npm dependency

      PATH=$PATH:`ls -td /opt/elasticbeanstalk/node-install/node-* | head -1`/bin
      
      chmod 777 -R /tmp
      set -xe
      sudo /opt/elasticbeanstalk/containerfiles/ebnode.py --action npm-install

      # also install ffmpeg

      cd /usr/local/bin
      mkdir ffmpeg

      cd ffmpeg
      wget https://johnvansickle.com/ffmpeg/releases/ffmpeg-release-amd64-static.tar.xz
      find . -maxdepth 1 -name 'ffmpeg-*' -exec tar xvf {} +
      find . -maxdepth 1 'ffmpeg-*-static' -exec mv {}/ffmpeg . ';'

      ln -s /usr/local/bin/ffmpeg/ffmpeg /usr/bin/ffmpeg