files:
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/50npm.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      cd $EB_APP_STAGING_DIR
      chmod 755 -R /tmp
      set -xe

      apt-get update && apt-get install -y --no-install-recommends ffmpeg

      wget -O /tmp/ffmpeg.tar.xz https://johnvansickle.com/ffmpeg/releases/ffmpeg-release-64bit-static.tar.xz

      if [ ! -d /opt/ffmpeg ]; 
      then mkdir -p /opt/ffmpeg;

      tar xvf /tmp/ffmpeg.tar.xz -C /opt/ffmpeg

      if [[ ! -f /usr/bin/ffmpeg ]] ;
       then ln -sf /opt/ffmpeg/ffmpeg-3.4-64bit-static/ffmpeg /usr/bin/ffmpeg;

      if [[ ! -f /usr/bin/ffprobe ]]; 
      then ln -sf /opt/ffmpeg/ffmpeg-3.4-64bit-static/ffprobe /usr/bin/ffprobe;

      if [ `pecl list | grep imagick` ];
      then pecl install -f imagick;

      sudo /opt/elasticbeanstalk/containerfiles/ebnode.py --action npm install --production --unsafe-perm=true --ignore-scripts